[Unit]
Description=Open.HD Test
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/env php /path/to/server.php

[Install]
WantedBy=multi-user.target
